template(name="index")
  ul.site-index.grid
    each sites
      li.block(id=slug)
        img(src=primaryImage)
        .overlay
          .info
            .site-name=name 
            .role=role
            .date-range=dateRange
